@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

.palette {
    display: flex;
    margin-bottom: 3rem;
}

.palette-scheme {
    flex: 0 0 auto;
    display: flex;
    gap: 10px;

    width: 600px;
    height: 600px;
}

.palette-scheme--horizontal {
    flex-direction: column;
}

.palette-scheme--vertical {
    flex-direction: row;
}

.palette-scheme--horizontal > .scheme-image {
    width: 600px;
    height: 400px;
}

.palette-scheme--vertical > .scheme-image {
    width: 400px;
    height: 600px;
}

.palette-scheme--horizontal > .scheme-colors {
    flex-direction: row;
}

.palette-scheme--vertical > .scheme-colors {
    flex-direction: column;
}

.palette-info {
    margin-left: 2rem;
}